<% content_for :back_state do %>
  <%= link_to 'Back to State', year_student_states_path %>
<% end %>

<div class="row col-md-8">
  <h3><%= @student.name %> <i class="fa fa-angle-double-right"></i> New Result</h3>
  <hr>
  <%= render 'form' %>
</div>