<div class="row col-md-offset-1 col-md-7">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', posts_path %></li>
    <li class="active">Edit post</li>
  </ol>
  <h3>Edit Post</h3>
  <hr>
  <%= render 'form' %>
</div>