<div class="row col-md-7">
  <ol class="breadcrumb">
    <li><%= link_to 'Home', posts_path %></li>
    <li class="active">Add new post</li>
  </ol>
  <h3>New Post</h3>
  <hr>  
  <%= render 'form' %>
</div>